*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;
}

html{
  scroll-behavior: smooth;
}

.container{
    padding: 1rem 6rem;
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 100%;
}

header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img{
    width: 50px;
    height: 100%;
    mix-blend-mode: color-burn;
}

header .logo h3{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 3vh;
    display: fixed;
}


header nav{
    display: flex;
    align-items: center;
    gap: 25px;
}

header nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s linear;
}

header nav a::after{
    content: '';
    display: block;
    border-bottom: 1px solid #fff;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s linear;
}

header nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s linear;
}

header .extra-nav button{
    cursor: pointer;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 12px;
    transition: 0.3s linear;
}

header .extra-nav button:hover {
    background: #fff;
    color: #000;
    transition: 0.3s linear;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30vh;
  gap: 8px;
}

.hero .container svg {
  margin-bottom: -9rem;
}

.hero .container svg text {
  position: relative;
  font-weight: bold;
  font-size: 200px;
  animation: stroke 5s infinite alternate;
}

.hero .container  h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 70px;
  position: relative;
  top: 6vh;
  width: 90%;
}

.hero .container h1 span {
  background: #fff;
  color: #000;
  font-weight: bold;
  padding: 4px;
  border-radius: 8px;
}

.hero .container button {
  cursor: pointer;
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  color: #fff;
  background-color: #000;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  margin-top: 20px;
  position: relative;
  top: 8vh;
}

.hero .container button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #000;
  border-radius: 0.2em;
  font-size: 1.5em;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

/* SOBRE MI*/

.yo {
  min-height: 100vh;
  padding: 3rem 0;
}

.yo .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  font-size: 2rem;
}

.yo .container .content .sobre-mi {
  display: flex;
  gap: 12px;
}

.yo .container .content .sobre-mi .perfil{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yo .container .content .sobre-mi .perfil .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #191919;
  border-radius: 16px;
  width: 75%;
  height: 75vh;
}

.yo .container .content .sobre-mi .perfil .image-box img {
  width: 70%;
}

.yo .container .content .sobre-mi .descripcion{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.yo .container .content .sobre-mi .descripcion .name-role {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.yo .container .content .sobre-mi .descripcion .name-role h1 {
  font-weight: bold;
  font-size: 3rem;
}

.yo .container .content .sobre-mi .descripcion .name-role .role {
  width: 100%;
  display: flex;
}

.yo .container .content .sobre-mi .descripcion .name-role .role h2 {
  font-weight: 500;
  font-size: 2rem;
  padding: 4px 6px;
  background-color: #fff;
  border-radius: 8px;
  color: #000;
}

.yo .container .content .sobre-mi .descripcion p {
  font-size: 1.2rem;
  text-align: justify;
}

/* SKILLS */

.skill{
  padding: 3rem 0;
  width: 100%;
}

.skill .container .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.skill .container .content h1{
  font-size: 3rem;
}

.skill .container .content .skills {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 8px;
  width: 50%;
}

.skill .container .content .skills .skill-box {
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: grayscale(100);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-boxC {
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: grayscale(100);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-boxC:hover {
  filter: grayscale(0);
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-boxC img {
  width: 45%;
  height: 65%;
}

.skill .container .content .skills .skill-box:hover {
  filter: grayscale(0);
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.skill .container .content .skills .skill-box img {
  width: 100%;
  height: 75%;
}

/*MATERIAS VISTAS */

.materia {
  padding: 3rem 0;
  width: 100%;
}

.materia .container .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.materia .container .content .materias{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  gap: 10px;
  width: 50%;
}

.materia .container .content .materias .materia-box{
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 100px;
}

.materia .container .content .materias .materia-box:hover{
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.materia .container .content .materias .materia-box input:hover{
  transform: scale(1.4);
  transition: all 0.2s linear;
}

.materia .container .content .materias .materia-box2{
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 100px;
  position: relative;
  left: 103%;
}

.materia .container .content .materias .materia-box2:hover{
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.materia .container .content .materias .materia-box2 input:hover{
  transform: scale(1.4);
  transition: all 0.2s linear;
}

.materia .container .content h1{
  font-size: 3rem;
}

.materia .container .content .materias{
  font-size: 2rem;  
  display: grid;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.materia .container .content .materias .materia-box{
  border: 2px solid rgb(255, 255, 255);
  position: relative;
}

.materia .container .content .materias input{
  width: 5vh;
  height: 3.5vh;
  
}

/*MATERIAS VIENDO */

.materia-viendo {
  padding: 3rem 0;
  width: 100%;
}

.materia-viendo  .container .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.materia-viendo .container .content .materias{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  gap: 10px;
  width: 50%;
}

.materia-viendo .container .content .materias .materia-box{
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 100px;
}

.materia-viendo .container .content .materias .materia-box:hover{
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.materia-viendo  .container .content .materias .materia-box input:hover{
  transform: scale(1.4);
  transition: all 0.2s linear;
}

.materia-viendo  .container .content .materias .materia-box2{
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 100px;
  position: relative;
  left: 103%;
}

.materia-viendo  .container .content .materias .materia-box2:hover{
  transform: scale(1.02);
  transition: all 0.2s linear;
}

.materia-viendo  .container .content .materias .materia-box2 input:hover{
  transform: scale(1.4);
  transition: all 0.2s linear;
}

.materia-viendo  .container .content h1{
  font-size: 3rem;
}

.materia-viendo  .container .content .materias{
  font-size: 2rem;  
  display: grid;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

.materia-viendo  .container .content .materias .materia-box{
  border: 2px solid rgb(255, 255, 255);
  position: relative;
}

.materia-viendo  .container .content .materias input{
  width: 5vh;
  height: 3.5vh;
}

/* CONTACTO */

.contact{
  width: 100%;
  padding: 3rem 0;
}

.contact .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.contact .container .content h1{
  font-size: 3rem;
}

.contact .container .content .form-box{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  width: 50%;
  border: 4px solid #fff;
  border-radius: 20px;
}

.contact .container .content .form-box .input{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
}

.contact .container .content .form-box .input input{
  width: 49%;
  padding: 12px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
}

.contact .container .content .form-box textarea{
  resize: none;
  padding: 12px;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
  height: 320px;
}

footer{
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 2px solid #fff;
}

footer .container {
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

footer .container .profile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 25%;
}

footer .container .perfil .logo{
  display: flex;
  align-items: center;
  font-size: 4vb;
  gap: 4vh;
}

footer .container .perfil .logo img{
  width: 8vh;
  height: 8vh;
}

footer .container .perfil .logo a{
  color: white;
  font-weight: bold;
}

footer .container .perfil p{
  margin-top: 3vh;
  font-weight: bold;
}

footer .container .perfil .redes-container{
  display: flex;
  gap: 8px;
}

footer .container .link-container {
  width: 70%;
  display: flex;
  gap: 4rem;
}

footer .container .link-container .informacion,
footer .container .link-container .navegacion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 40%;
  position: relative;
  left: 15vh;
}

footer .container .link-container .navegacion h1,
footer .container .link-container .informacion h1{
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
}

footer .container .link-container .navegacion ul,
footer .container .link-container .informacion ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer .container .link-container .navegacion ul li,
footer .container .link-container .informacion ul li{
  cursor: pointer;
}

footer .container .link-container .navegacion ul li::after,
footer .container .link-container .informacion ul li::after{
  content: '';
  display: block;
  border-bottom: 3px solid #fff;
  width: 20vh;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
  margin-top: 4px;
}

footer .container .link-container .navegacion ul li:hover::after,
footer .container .link-container .informacion ul li:hover::after{
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s linear;
}

footer .container .link-container .informacion ul li a,
footer .container .link-container .navegacion ul li a{
  text-decoration: none;
  color: white;
}


@keyframes stroke {
  0% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  70% {
    stroke: white;
  }
  80% {
    stroke: white;
    stroke-width: 3;
  }
  100% {
    stroke: white;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
  }
}



